* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: block;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 800px;
    /* background-color: cyan; */
}

.selectorsContainer {
    display: flex;
    padding-bottom: 20px;
}

.infoGrid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.headerText {
    font-size: 1.5em;
    font-weight: bold;
    color: #03aaee;
    padding-bottom: 30px;
    display: block;
}

.info-title-black {
    color: black;
    font-size: 1.25em;
}

.info-title-blue {
    color: #03aaee;
    font-size: 1.25em;
}


